<div class="wrap">
    <div class="introduction">

    ここはカメラを始めたばかりの、管理者の趣味のページとなっています。<br>
    もし気になる写真があればコメント頂けると励みになります。<br>
    どうぞゆっくりしていってください。
    </div>
  <%= image_tag("background.jpg", class:"bottom_img")%>
</div>